# =========================
# SISTEMA OPERATIVO
# =========================
.DS_Store
Thumbs.db

# =========================
# LOGS GLOBALES
# =========================
*.log

# =========================
# PYTHON CACHE 
# =========================
__pycache__/
*.pyc

# =========================
# EDITORES (GLOBAL)
# =========================
.vscode/
.idea/

# =========================
# VARIABLES DE ENTORNO
# =========================
.env