# Configuración de LLM
# Opciones: "openai" | "ollama"
LLM_PROVIDER=ollama
OPENAI_API_KEY=
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=mistral

# Configuración de Base de Datos
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=financehub
DB_USER=postgres
DB_PASSWORD=

# App Settings
APP_NAME=FinanceHub-LLM-Service
DEBUG=True
PORT=8001
